[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
django = "*"
python-dotenv = "*"
djangorestframework = "*"
pre-commit = "*"
djangorestframework-simplejwt = "*"
celery = "*"
psycopg2 = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
